{
  "plugins": [],
  "presets": ["@babel/preset-env", "react-native"],
  "transformIgnorePatterns": [
    "node_modules/(?!(react-native|react-native-vector-icons|react-native-debug|react-native-webrtc)/)"
  ]
}
